.picture {
    height: 240px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    @media (max-width: 450px) {
        height: 100px;
    }

    @media (min-width: 451px) and (max-width: 535px) {
        height: 100px;
    }

    @media (min-width: 536px) and (max-width: 800px) {
        height: 120px;
    }

    @media (min-width: 801px) and (max-width: 1250px) {
        height: 180px;
    }
}