.picture {

    @media (max-width: 450px) {
        height: 200px;
        box-shadow: 10px 10px 10px #BADFBE;
        border-radius: 20px;
    }

    @media (min-width: 451px) and (max-width: 749px) {
        height: 400px;
        box-shadow: 10px 10px 10px #BADFBE;
        border-radius: 20px;
    }

    @media (min-width: 750px) and (max-width: 1050px) {
        height: 400px;
        box-shadow: 10px 10px 10px #BADFBE;
        border-radius: 20px;
    }

    @media (min-width: 1051px) {
        height: 600px;
        box-shadow: 20px 20px 20px #BADFBE;
        border-radius: 30px;
    }
}