@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

.navbar {
    height: 10vh;
    background-color: #BADFBE;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.li {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    padding-right: 3vw;
}

.link {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Abhaya Libre', serif;
    font-size: 3vh;
    color: #0D5714;
    display: flex;
    flex-direction: row;
}
.linkdeco {
    text-decoration: none;
    color: #0D5714;
}

.button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}