@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

html, body {
  margin:0;
  padding:0;
  height:100vh;
}

body {
  margin: 0;
  font-family: 'Abhaya Libre', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #0D5714;
  border-radius: 30px;
}
